save_excel_in_list_staff_20241213164115/Microsoft.Flow/flows/453a71d4-e13b-4fb2-9687-98e6e68d373b/definition.json
{"name":"9c67211c-84fb-4d81-aa9a-addc3993a24c","id":"/providers/Microsoft.Flow/flows/9c67211c-84fb-4d81-aa9a-addc3993a24c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"save_excel_in_list_staff","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5c20a6cf-8ef3-4588-9f87-8fcf5fd5d476","type":"User","tenantId":"d852d5cd-724c-4128-8812-ffa5db3f8507"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-03-26T12:07:04.2762614Z","connectionKeySavedTimeKey":"2024-09-23T20:19:50.021838Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"cd922969-093e-4e09-8751-c404ff6e2590"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Apply_to_each":{"foreach":"@outputs('Get_files_(properties_only)_2')?['body/value']","actions":{"Apply_to_each_2":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"e18c6c0a-5ad7-48e9-a898-35401db65b4f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"356e72dc-1ed3-4c1e-ab58-72643696dce4","$filter":"UIDPSA eq '@{item()?['UIDPSA']}'"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10}}},"Condition_3":{"actions":{"Create_item":{"runAfter":{},"metadata":{"operationMetadataId":"59a577c2-8ded-4e43-aa7e-288b969216dc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"356e72dc-1ed3-4c1e-ab58-72643696dce4","item/UIDPSA":"@item()?['UIDPSA']","item/OData__x0074_mp2":"@item()?['LastName']","item/tt":"@item()?['FirstName']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_items":["Succeeded"]},"else":{"actions":{"Update_item":{"runAfter":{},"metadata":{"operationMetadataId":"7d1fdb21-4ede-431e-8286-e329a4edd3f7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"356e72dc-1ed3-4c1e-ab58-72643696dce4","id":"@outputs('Get_items')?['body']?['value']?[0]?['ID']","item/UIDPSA":"@item()?['UIDPSA']","item/OData__x0074_mp2":"@item()?['LastName']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@length(outputs('Get_items')?['body/value'])",0]},"metadata":{"operationMetadataId":"0d72ff6e-edfd-440a-beb1-1036961e09f3"},"type":"If"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"cba66812-8763-4847-a626-051e52aed459"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Update_file_properties":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"608886ac-4737-42f1-ab6d-9b6299a08617"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"ad257f75-eb56-41b9-8510-ef2f99bd0daa","id":"@items('Apply_to_each')?['ID']","item/Satus/Value":"Completed"},"authentication":"@parameters('$authentication')"}},"Update_file_properties_3":{"runAfter":{},"metadata":{"operationMetadataId":"046e9a2c-d3cb-4696-b23f-fdc256bfea52"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"ad257f75-eb56-41b9-8510-ef2f99bd0daa","id":"@items('Apply_to_each')?['ID']","item/Satus/Value":"In Progress"},"authentication":"@parameters('$authentication')"}},"List_rows_present_in_a_table":{"runAfter":{"Update_file_properties_3":["Succeeded"]},"metadata":{"operationMetadataId":"99d3a070-58a2-49d8-a951-f9278e055d4b","tableId":"Tableau_query__1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"sites/shiftup.sharepoint.com,e774af99-5c87-42d1-9cb2-2781e628cd69,196d7252-c7b3-4a97-a3b5-35e9a687844f","drive":"b!ma9054dc0UKcsieB5ijNaVJybRmzx5dKo7U16aaHhE91fyWtVuu5QYUQ7y-ZvQ2q","file":"@items('Apply_to_each')?['{FullPath}']","table":"Tableau_query__1"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":8}}},"Delay":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"3fda006b-fc5e-4af5-b772-3c157c255fe8"},"type":"Wait","inputs":{"interval":{"count":12,"unit":"Minute"}}}},"runAfter":{"Get_files_(properties_only)_2":["Succeeded"]},"metadata":{"operationMetadataId":"37d62d6b-e201-45e3-a860-7799f734e41f"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Get_files_(properties_only)_2":{"runAfter":{},"metadata":{"operationMetadataId":"cd9e8c1a-77bc-4814-95ae-51a2056f0ea1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"ad257f75-eb56-41b9-8510-ef2f99bd0daa","$filter":"Satus eq 'New'"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3c4d2cda63d84bb498f01802b096eeee","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"d9390b2cbcd0451289780d769511f16d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}