AskingValidation_20241216090849/Microsoft.Flow/flows/38b005ff-4b93-4285-91f5-c6f4f3173e29/definition.json
{"name":"ce600107-ad69-451c-aadc-744671be253e","id":"/providers/Microsoft.Flow/flows/ce600107-ad69-451c-aadc-744671be253e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Asking Validation","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"163ac98a-1a16-4e86-be06-b6b47fb6e745","type":"User","tenantId":"d852d5cd-724c-4128-8812-ffa5db3f8507"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-04-19T09:16:33.6144585Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f2596448-6c75-402f-b09d-43708567bde4"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"number":{"title":"Nombre","type":"number","x-ms-dynamically-added":true,"description":"Id du sujet","x-ms-content-hint":"NUMBER"}},"required":["number"]},"headersSchema":{"x-ms-user-email-encoded":{"title":"E-mail de l'utilisateur","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Envoyer_une_notification_par_e-mail_(V3)":{"runAfter":{"Obtenir_l’élément":["Succeeded"]},"metadata":{"operationMetadataId":"b3adfdf6-8469-43bc-a2f3-4cabfe0d461b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Obtenir_l’élément')?['body/Requester/Email']};celine.montasheri@stellantis.com;","request/subject":"Data Request N°@{outputs('Obtenir_l’élément')?['body/ID']} validation step for closure ","request/text":"<p>Hello,<br>\nYou receive this email in order to validate the deliverables and collect your opinion concerning your Data Request N°<strong></strong><strong>@{outputs('Obtenir_l’élément')?['body/ID']}</strong><strong></strong> : @{outputs('Obtenir_l’élément')?['body/Title']}<br>\n<br>\nIn order to give us a feedback, you must fulfill your requets number and opinion in the following Form : this <a href=\"https://forms.office.com/r/9eqsw38pgX\">Form</a> &nbsp;&nbsp;<br>\nAs a reminder your request number is : @{outputs('Obtenir_l’élément')?['body/ID']}.<br>\n<br>\n<strong>Thanks<br>\nENG/PRS/PPM/VEMP/VDO&nbsp;</strong></p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Obtenir_l’élément":{"runAfter":{},"metadata":{"operationMetadataId":"88f0a4cf-30e5-4958-8e34-384b9a2cb0f8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"GetItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/RepresentativesData4PWTC","table":"dd8d4dea-71d5-42e0-950e-e5065460d9b4","id":"@triggerBody()['number']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Mettre_à_jour_l'élément_2":{"runAfter":{"Envoyer_une_notification_par_e-mail_(V3)":["Succeeded"]},"metadata":{"operationMetadataId":"c983958c-342e-4617-a76a-79bc64d4ea0e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"PatchItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/RepresentativesData4PWTC","table":"dd8d4dea-71d5-42e0-950e-e5065460d9b4","id":"@outputs('Obtenir_l’élément')?['body/ID']","item/Title":"@outputs('Obtenir_l’élément')?['body/Title']","item/Requester/Claims":"@outputs('Obtenir_l’élément')?['body/Requester/Claims']","item/AssignedTo/Claims":"@outputs('Obtenir_l’élément')?['body/AssignedTo/Claims']","item/Progress/Value":"In validation","item/Steering_Date":"@outputs('Obtenir_l’élément')?['body/Steering_Date']","item/Notes":"@outputs('Obtenir_l’élément')?['body/Notes']","item/Analysis_x0020_Type/Value":"@outputs('Obtenir_l’élément')?['body/Analysis_x0020_Type/Value']","item/EOTP_x0020_Code":"@outputs('Obtenir_l’élément')?['body/EOTP_x0020_Code']","item/N_x00b0_ISS":"@outputs('Obtenir_l’élément')?['body/N_x00b0_ISS']","item/Powertrain_x0020_Project":"@outputs('Obtenir_l’élément')?['body/Powertrain_x0020_Project']","item/Workload":"@outputs('Obtenir_l’élément')?['body/Workload']","item/PRS_x0020_Entity/Value":"@outputs('Obtenir_l’élément')?['body/PRS_x0020_Entity/Value']","item/Description":"@outputs('Obtenir_l’élément')?['body/Description']","item/Supplier_Planned_Date":"@outputs('Obtenir_l’élément')?['body/Supplier_Planned_Date']","item/DueDate":"@outputs('Obtenir_l’élément')?['body/DueDate']","item/Prepared":"@outputs('Obtenir_l’élément')?['body/Prepared']","item/Shared":"@outputs('Obtenir_l’élément')?['body/Shared']","item/Affected":"@outputs('Obtenir_l’élément')?['body/Affected']","item/Affected_by":"@outputs('Obtenir_l’élément')?['body/Affected_by']","item/Initialized":"@outputs('Obtenir_l’élément')?['body/Initialized']","item/Initialized_by":"@outputs('Obtenir_l’élément')?['body/Initialized_by']","item/Validated_by":"@outputs('Obtenir_l’élément')?['body/Validated_by']","item/Specified":"@outputs('Obtenir_l’élément')?['body/Specified']","item/Specified_by":"@outputs('Obtenir_l’élément')?['body/Specified_by']","item/Validated":"@outputs('Obtenir_l’élément')?['body/Validated']","item/Closed":"@outputs('Obtenir_l’élément')?['body/Closed']","item/Prepared_by":"@outputs('Obtenir_l’élément')?['body/Prepared_by']","item/Shared_by":"@outputs('Obtenir_l’élément')?['body/Shared_by']","item/Closed_by":"@outputs('Obtenir_l’élément')?['body/Closed_by']","item/Blocked":"@outputs('Obtenir_l’élément')?['body/Blocked']","item/Blocked_by":"@outputs('Obtenir_l’élément')?['body/Blocked_by']","item/Aborted":"@outputs('Obtenir_l’élément')?['body/Aborted']","item/Aborted_by":"@outputs('Obtenir_l’élément')?['body/Aborted_by']","item/ValidationComment":"@outputs('Obtenir_l’élément')?['body/ValidationComment']","item/Waiting_Validation":false,"item/Charge_x0020_Calcul":"@outputs('Obtenir_l’élément')?['body/Charge_x0020_Calcul']","item/InValidation":"@outputs('Obtenir_l’élément')?['body/InValidation']","item/Invalidation_by":"@outputs('Obtenir_l’élément')?['body/Invalidation_by']","item/Rating":"@outputs('Obtenir_l’élément')?['body/Rating']","item/{ContentType}/Id":"@outputs('Obtenir_l’élément')?['body/{ContentType}/Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sendmail":{"connectionName":"b4506c68b27c45fe9efc59840fe0211e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"},"shared_sharepointonline_2":{"connectionName":"0fed93a18c7b4c309206ebf8a671391b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}