savecatactivity_20241213161924/Microsoft.Flow/flows/d7e9cfd6-57bb-4b41-a205-3f877f3a77ef/definition.json
{"name":"65aee777-c1d9-4e19-a1ef-dbced154f8bb","id":"/providers/Microsoft.Flow/flows/65aee777-c1d9-4e19-a1ef-dbced154f8bb","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"sauvgarde CatActivity","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5c20a6cf-8ef3-4588-9f87-8fcf5fd5d476","type":"User","tenantId":"d852d5cd-724c-4128-8812-ffa5db3f8507"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-04T08:44:41.4909708Z","connectionKeySavedTimeKey":"2024-11-04T08:44:41.4909708Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"23c79324-7a23-4de2-a53b-e7fa114cd236"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Obtenir_les_éléments":{"runAfter":{},"metadata":{"operationMetadataId":"d6f2a4c6-10f6-40af-ba78-d202ec533110"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"bc7f2f94-2856-49b7-94df-839399cadc86"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":30000}}},"Créer_un_tableau_CSV":{"runAfter":{"Sélectionner":["Succeeded"]},"metadata":{"operationMetadataId":"99ac8a5c-3909-4ba1-886a-aa465e41cb25"},"type":"Table","inputs":{"from":"@body('Sélectionner')","format":"CSV"}},"Sélectionner":{"runAfter":{"Obtenir_les_éléments":["Succeeded"]},"metadata":{"operationMetadataId":"92c034a6-9f65-4d6e-b09a-0f63104487e4"},"type":"Select","inputs":{"from":"@outputs('Obtenir_les_éléments')?['body/value']","select":{"ID":"@item()?['ID']","kat":"@item()?['KatID']","comp":"@item()?['Title']","act":"@item()?['ActivityType']","tar":"@item()?['TargetWorkload2']","company":"@item()?['Company']","workload":"@item()?['WorkLoad']","hist":"@item()?['History']","complexity":"@item()?['Complexity']"}}},"Créer_un_fichier":{"runAfter":{"Créer_un_tableau_CSV":["Succeeded"]},"metadata":{"operationMetadataId":"b5a0f62b-4884-40d4-88a5-6514b9b53055"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","folderPath":"/BackupCatActivity","name":"@concat(string(utcNow('yyyy-MMM-dd')),'test.csv')","body":"@body('Créer_un_tableau_CSV')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3c4d2cda63d84bb498f01802b096eeee","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}