alimentation_20241216090048/Microsoft.Flow/flows/488e4963-8f22-46c3-a3fc-ede6d73d0a80/definition.json
{"name":"ae17beff-bde5-4731-ac4d-e1b1472536bb","id":"/providers/Microsoft.Flow/flows/ae17beff-bde5-4731-ac4d-e1b1472536bb","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"AlimentationProgramRealM_DistributedWL","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"feb6af4b-c822-45cb-a8d7-202bd69a9973","type":"User","tenantId":"d852d5cd-724c-4128-8812-ffa5db3f8507"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-12-04T10:29:30.8951496Z","connectionKeySavedTimeKey":"2024-12-04T10:29:30.8951496Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f71de769-fed1-428d-aa09-ec65385dcb72"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"ObtenirEltsAPProjectMilestone":{"runAfter":{},"metadata":{"operationMetadataId":"7703e0f8-7e75-48fe-800a-3f717dee2baf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"f95cc166-ea80-4c8e-a738-02535456b755","$filter":"Title ne null "},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":1000}}},"Appliquer_à_chacun":{"foreach":"@outputs('ObtenirEltsAPProjectMilestone')?['body/value']","actions":{"ObtenirEltAPMilestoneNG":{"runAfter":{},"metadata":{"operationMetadataId":"147674a5-37a5-4693-99a2-a60a366f40fb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"61c1a023-85e9-4020-8ae1-a18ba4117b31","$filter":"Project_ID eq @{items('Appliquer_à_chacun')?['ID']}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"ObtenirEltsGenericSignatureCuves":{"runAfter":{"ObtenirEltAPMilestoneNG":["Succeeded"]},"metadata":{"operationMetadataId":"d9113f96-fd5f-4b37-840a-f064211dc3fb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"a58ff177-a7ef-4e7d-bf44-020eb6ba7b74","$filter":"ID le 9"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Appliquer_à_chacun_2":{"foreach":"@outputs('ObtenirEltsGenericSignatureCuves')?['body/value']","actions":{"Appliquer_à_chacun_3":{"foreach":"@outputs('ObtenirEltAPMilestoneNG')?['body/value']","actions":{"Créer_un_élément":{"runAfter":{},"metadata":{"operationMetadataId":"ce8872da-7b17-422d-9c34-d1ba04581829"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"9d1ae0d4-8a01-4fe1-ae68-4f8af24fecca","item/Program_Name":"@items('Appliquer_à_chacun')?['Title']","item/Program_ID":"@items('Appliquer_à_chacun')?['ID']","item/Curve_ID":"@items('Appliquer_à_chacun_2')?['CurveID']","item/Period_Name":"@items('Appliquer_à_chacun_2')?['Title']","item/Period_ID":"@items('Appliquer_à_chacun_2')?['PeriodID']","item/Start_Date_Periode":"@if(equals(items('Appliquer_à_chacun_2')?['Title'],'PM-CM'),items('Appliquer_à_chacun_3')?['PM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'CM-DM'),items('Appliquer_à_chacun_3')?['CM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'DM-TK0'),items('Appliquer_à_chacun_3')?['DM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'TK0-PX0_3DBOM'),items('Appliquer_à_chacun_3')?['TKO1review'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'PX0_3DBOM-SHRM'),items('Appliquer_à_chacun_3')?['PX03DBOM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'SHRM-PX0R'),items('Appliquer_à_chacun_3')?['SHRM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'PX0R-MPRM'),items('Appliquer_à_chacun_3')?['PX0review'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'MPRM-LRM'),items('Appliquer_à_chacun_3')?['MPRM'] ,items('Appliquer_à_chacun_3')?['LRM'])\r\n)))))))","item/End_Date__x0020_Periode":"@if(equals(items('Appliquer_à_chacun_2')?['Title'],'PM-CM'),items('Appliquer_à_chacun_3')?['CM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'CM-DM'),items('Appliquer_à_chacun_3')?['DM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'DM-TK0'),items('Appliquer_à_chacun_3')?['TKO1review'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'TK0-PX0_3DBOM'),items('Appliquer_à_chacun_3')?['PX03DBOM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'PX0_3DBOM-SHRM'),items('Appliquer_à_chacun_3')?['SHRM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'SHRM-PX0R'),items('Appliquer_à_chacun_3')?['PX0review'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'PX0R-MPRM'),items('Appliquer_à_chacun_3')?['MPRM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'MPRM-LRM'),items('Appliquer_à_chacun_3')?['LRM'] ,items('Appliquer_à_chacun_3')?['SOPM'])\r\n)))))))","item/Distribution_WL":"@items('Appliquer_à_chacun_2')?['WLDistribution']","item/Start_date":"@if(equals(items('Appliquer_à_chacun_2')?['Title'],'PM-CM'),items('Appliquer_à_chacun_3')?['PM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'CM-DM'),items('Appliquer_à_chacun_3')?['CM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'DM-TK0'),items('Appliquer_à_chacun_3')?['DM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'TK0-PX0_3DBOM'),items('Appliquer_à_chacun_3')?['TKO1review'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'PX0_3DBOM-SHRM'),items('Appliquer_à_chacun_3')?['PX03DBOM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'SHRM-PX0R'),items('Appliquer_à_chacun_3')?['SHRM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'PX0R-MPRM'),items('Appliquer_à_chacun_3')?['PX0review'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'MPRM-LRM'),items('Appliquer_à_chacun_3')?['MPRM'] ,items('Appliquer_à_chacun_3')?['LRM'])\r\n)))))))","item/End_date":"@if(equals(items('Appliquer_à_chacun_2')?['Title'],'PM-CM'),items('Appliquer_à_chacun_3')?['CM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'CM-DM'),items('Appliquer_à_chacun_3')?['DM'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'DM-TK0'),items('Appliquer_à_chacun_3')?['TKO1review'] ,\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'TK0-PX0_3DBOM'),items('Appliquer_à_chacun_3')?['PX03DBOM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'PX0_3DBOM-SHRM'),items('Appliquer_à_chacun_3')?['SHRM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'SHRM-PX0R'),items('Appliquer_à_chacun_3')?['PX0review'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'PX0R-MPRM'),items('Appliquer_à_chacun_3')?['MPRM'],\r\nif(equals(items('Appliquer_à_chacun_2')?['Title'],'MPRM-LRM'),items('Appliquer_à_chacun_3')?['LRM'] ,items('Appliquer_à_chacun_3')?['SOPM'])\r\n)))))))"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition":{"actions":{"Condition_2":{"actions":{"Créer_un_élément_3":{"runAfter":{},"metadata":{"operationMetadataId":"94f1fc87-404e-407a-9abf-64f3479799a8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"9d1ae0d4-8a01-4fe1-ae68-4f8af24fecca","item/Program_Name":"@outputs('Créer_un_élément')?['body/Program_Name']","item/Program_ID":"@outputs('Créer_un_élément')?['body/Program_ID']","item/Curve_ID":"@outputs('Créer_un_élément')?['body/Curve_ID']","item/Period_Name":"@outputs('Créer_un_élément')?['body/Period_Name']","item/Period_ID":"@outputs('Créer_un_élément')?['body/Period_ID']","item/Start_Date_Periode":"@outputs('Créer_un_élément')?['body/Start_Date_Periode']","item/End_Date__x0020_Periode":"@outputs('Créer_un_élément')?['body/End_Date__x0020_Periode']","item/Distribution_WL":"@outputs('Créer_un_élément')?['body/Distribution_WL']","item/Start_date":"@outputs('Créer_un_élément')?['body/Start_date']","item/End_date":"@formatDateTime(concat(formatDateTime(outputs('Créer_un_élément')?['body/Start_date'],'yyyy'), '-12-31'),'yyyy-MM-dd')\r\n"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Créer_un_élément_4":{"runAfter":{"Créer_un_élément_3":["Succeeded"]},"metadata":{"operationMetadataId":"d70031a0-feb2-4895-886e-7aa0ea9ec2f2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"9b3ef063-b474-40ff-9144-3ba53a8ddf7e","item/Program_Name":"@outputs('Créer_un_élément_3')?['body/Program_Name']","item/Program_ID":"@outputs('Créer_un_élément_3')?['body/Program_ID']","item/Curve_ID":"@outputs('Créer_un_élément_3')?['body/Curve_ID']","item/Period_Name":"@outputs('Créer_un_élément_3')?['body/Period_Name']","item/Period_ID":"@outputs('Créer_un_élément_3')?['body/Period_ID']","item/Start_Date_Periode":"@outputs('Créer_un_élément_3')?['body/Start_Date_Periode']","item/End_Date__x0020_Periode":"@outputs('Créer_un_élément_3')?['body/End_Date__x0020_Periode']","item/Distribution_WL":"@outputs('Créer_un_élément_3')?['body/Distribution_WL']","item/Start_date":"@outputs('Créer_un_élément_3')?['body/Start_date']","item/End_date":"@outputs('Créer_un_élément_3')?['body/End_date']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Mettre_à_jour_l'élément":{"runAfter":{"Créer_un_élément_4":["Succeeded"]},"metadata":{"operationMetadataId":"abcc1920-13f1-451b-b953-c4e1d63904db"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"9d1ae0d4-8a01-4fe1-ae68-4f8af24fecca","id":"@outputs('Créer_un_élément')?['body/ID']","item/Program_Name":"@outputs('Créer_un_élément')?['body/Program_Name']","item/Program_ID":"@outputs('Créer_un_élément')?['body/Program_ID']","item/Curve_ID":"@outputs('Créer_un_élément')?['body/Curve_ID']","item/Period_Name":"@outputs('Créer_un_élément')?['body/Period_Name']","item/Period_ID":"@outputs('Créer_un_élément')?['body/Period_ID']","item/Start_Date_Periode":"@outputs('Créer_un_élément')?['body/Start_Date_Periode']","item/End_Date__x0020_Periode":"@outputs('Créer_un_élément')?['body/End_Date__x0020_Periode']","item/Distribution_WL":"@outputs('Créer_un_élément')?['body/Distribution_WL']","item/Start_date":"@formatDateTime(concat(formatDateTime(outputs('Créer_un_élément')?['body/End_date'],'yyyy'), '-01-01'), 'yyyy-MM-dd')\r\n","item/End_date":"@outputs('Créer_un_élément')?['body/End_date']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Créer_un_élément_5":{"runAfter":{"Mettre_à_jour_l'élément":["Succeeded"]},"metadata":{"operationMetadataId":"a0b6140c-43b9-4a11-aabd-cd0c02cfc180"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"9b3ef063-b474-40ff-9144-3ba53a8ddf7e","item/Program_Name":"@outputs('Mettre_à_jour_l''élément')?['body/Program_Name']","item/Program_ID":"@outputs('Mettre_à_jour_l''élément')?['body/Program_ID']","item/Curve_ID":"@outputs('Mettre_à_jour_l''élément')?['body/Curve_ID']","item/Period_Name":"@outputs('Mettre_à_jour_l''élément')?['body/Period_Name']","item/Period_ID":"@outputs('Mettre_à_jour_l''élément')?['body/Period_ID']","item/Start_Date_Periode":"@outputs('Créer_un_élément')?['body/Start_Date_Periode']","item/End_Date__x0020_Periode":"@outputs('Créer_un_élément')?['body/End_Date__x0020_Periode']","item/Distribution_WL":"@outputs('Mettre_à_jour_l''élément')?['body/Distribution_WL']","item/Start_date":"@outputs('Mettre_à_jour_l''élément')?['body/Start_date']","item/End_date":"@outputs('Mettre_à_jour_l''élément')?['body/End_date']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Créer_un_élément_6":{"runAfter":{},"metadata":{"operationMetadataId":"334dfeb3-fa58-46c6-a0ce-7f7fdcf9a44c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"9b3ef063-b474-40ff-9144-3ba53a8ddf7e","item/Program_Name":"@outputs('Créer_un_élément')?['body/Program_Name']","item/Program_ID":"@outputs('Créer_un_élément')?['body/Program_ID']","item/Curve_ID":"@outputs('Créer_un_élément')?['body/Curve_ID']","item/Period_Name":"@outputs('Créer_un_élément')?['body/Period_Name']","item/Period_ID":"@outputs('Créer_un_élément')?['body/Period_ID']","item/Start_Date_Periode":"@outputs('Créer_un_élément')?['body/Start_Date_Periode']","item/End_Date__x0020_Periode":"@outputs('Créer_un_élément')?['body/End_Date__x0020_Periode']","item/Distribution_WL":"@outputs('Créer_un_élément')?['body/Distribution_WL']","item/Start_date":"@outputs('Créer_un_élément')?['body/Start_date']","item/End_date":"@outputs('Créer_un_élément')?['body/End_date']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"not":{"equals":["@formatDateTime(outputs('Créer_un_élément')?['body/End_date'],'yyyy')","@formatDateTime(outputs('Créer_un_élément')?['body/Start_date'],'yyyy')"]}},"metadata":{"operationMetadataId":"582dbdd2-7ead-4e48-bc57-01792afd558c"},"type":"If"}},"runAfter":{"Créer_un_élément":["Succeeded"]},"else":{"actions":{"Créer_un_élément_2":{"runAfter":{},"metadata":{"operationMetadataId":"10f1feb0-a17a-4809-ba83-be6679289742"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"9b3ef063-b474-40ff-9144-3ba53a8ddf7e","item/Program_Name":"@outputs('Créer_un_élément')?['body/Program_Name']","item/Program_ID":"@outputs('Créer_un_élément')?['body/Program_ID']","item/Curve_ID":"@outputs('Créer_un_élément')?['body/Curve_ID']","item/Period_Name":"@outputs('Créer_un_élément')?['body/Period_Name']","item/Period_ID":"@outputs('Créer_un_élément')?['body/Period_ID']","item/Start_Date_Periode":"@outputs('Créer_un_élément')?['body/Start_Date_Periode']","item/End_Date__x0020_Periode":"@outputs('Créer_un_élément')?['body/End_Date__x0020_Periode']","item/Distribution_WL":"@outputs('Créer_un_élément')?['body/Distribution_WL']","item/Start_date":"@outputs('Créer_un_élément')?['body/Start_date']","item/End_date":"@outputs('Créer_un_élément')?['body/End_date']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"and":[{"not":{"equals":["@outputs('Créer_un_élément')?['body/Start_date']","@null"]}},{"not":{"equals":["@outputs('Créer_un_élément')?['body/End_date']","@null"]}}]},"metadata":{"operationMetadataId":"0fcea14f-d9f2-453f-b5c5-9d8771917c49"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"b3f01ea0-0f28-414c-a220-1335782b840c"},"type":"Foreach"}},"runAfter":{"ObtenirEltsGenericSignatureCuves":["Succeeded"]},"metadata":{"operationMetadataId":"6d043e27-5da5-44d3-a919-82a4987a218e"},"type":"Foreach"}},"runAfter":{"ObtenirEltsAPProjectMilestone":["Succeeded"]},"metadata":{"operationMetadataId":"8662f565-8742-4be1-90f2-e204e61c86de"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"0fed93a18c7b4c309206ebf8a671391b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"shared-sharepointonl-f030119c-1faf-4f57-9313-771562157404","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}