COON-getRadiatorPerformanceData_20241213163505/Microsoft.Flow/flows/5551a049-11fd-412e-a4b2-266401a3d1f6/definition.json
{"name":"c22c3827-3d05-4d82-88a8-67857ada6b2d","id":"/providers/Microsoft.Flow/flows/c22c3827-3d05-4d82-88a8-67857ada6b2d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"COON-getRadiatorPerformanceData","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"25e10063-a2d9-4573-8125-22b6968fb213","type":"User","tenantId":"d852d5cd-724c-4128-8812-ffa5db3f8507"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-25T12:29:59.3877175Z","connectionKeySavedTimeKey":"2024-11-25T12:25:02.2112437Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Quand_un_fichier_est_ajouté_ou_modifié_(propriétés_uniquement)":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"820b625a-073d-4ac0-baed-989200aae996"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetOnUpdatedFileItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/COCOONApp","table":"b2113b93-603e-41d8-b8d3-756270cc0370","folderPath":"/RadiatorFiles"},"authentication":"@parameters('$authentication')"}}},"actions":{"index":{"runAfter":{"Initialiser_la_variable":["Succeeded"]},"metadata":{"operationMetadataId":"99694492-743b-4070-ba55-ce3294c491f6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"index","type":"integer","value":1}]}},"Lister_les_lignes_présentes_dans_un_tableau":{"runAfter":{"index":["Succeeded"]},"metadata":{"operationMetadataId":"08f977bb-61ff-48b2-bda8-8a7b006907d0","tableId":"Tableau2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/94e79ab3-b0d5-4bf9-812a-c4589212d180","drive":"b!bPKzIe0HjEm7hlFI4Ihwr0XvNtDnklVHvPF0r5UoIVGTOxGyPmDYQbjTdWJwzANw","file":"@triggerOutputs()?['body/{Identifier}']","table":"Tableau2"},"authentication":"@parameters('$authentication')"}},"Apply":{"foreach":"@outputs('Lister_les_lignes_présentes_dans_un_tableau')?['body/value']","actions":{"Créer_un_élément":{"runAfter":{},"metadata":{"operationMetadataId":"ec524078-3f6e-43ed-bcb6-d279775472df"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/COCOONApp","table":"81206cd6-9020-4435-9f65-b99e57e11ecf","item/Title":"45 °C","item/field_1":"@items('Apply')?['Colonne1']","item/field_2":"@items('Apply')?['Tliquide = 70 °C']","item/field_3":"@items('Apply')?['Colonne2']","item/field_4":"@items('Apply')?['Colonne3']","item/field_5":"@items('Apply')?['Colonne4']","item/field_6":"@items('Apply')?['Colonne5']","item/index":"@variables('index')","item/field_7":"@items('Apply')?['Colonne6']","item/field_8":"@items('Apply')?['Colonne7']","item/field_9":"@items('Apply')?['Colonne8']","item/user":"@triggerOutputs()?['body/user']","item/file":"@triggerOutputs()?['body/Title']","item/Engagement":"Nominal","item/ConditonEchange":"Performance","item/created_at":"@formatDateTime(utcNow(), 'yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Incrémenter_une_variable_2":{"runAfter":{"Créer_un_élément":["Succeeded"]},"metadata":{"operationMetadataId":"80f5bf09-ba6d-4f58-a327-54b1ae408751"},"type":"IncrementVariable","inputs":{"name":"index","value":1}}},"runAfter":{"Lister_les_lignes_présentes_dans_un_tableau":["Succeeded"]},"metadata":{"operationMetadataId":"8d8418dd-d567-41e7-9ef2-044db62ee719"},"type":"Foreach"},"Lister_les_lignes_présentes_dans_un_tableau_2":{"runAfter":{"Apply":["Succeeded"]},"metadata":{"operationMetadataId":"fe2e4f9b-ef35-4b83-9a69-c3d8f0086b01","tableId":"Tableau3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/94e79ab3-b0d5-4bf9-812a-c4589212d180","drive":"b!bPKzIe0HjEm7hlFI4Ihwr0XvNtDnklVHvPF0r5UoIVGTOxGyPmDYQbjTdWJwzANw","file":"@triggerOutputs()?['body/{Identifier}']","table":"Tableau3"},"authentication":"@parameters('$authentication')"}},"Définir_une_variable":{"runAfter":{"Lister_les_lignes_présentes_dans_un_tableau_2":["Succeeded"]},"metadata":{"operationMetadataId":"5ae6417d-efc6-4195-8178-1701d19decdb"},"type":"SetVariable","inputs":{"name":"index","value":1}},"Apply2":{"foreach":"@outputs('Lister_les_lignes_présentes_dans_un_tableau_2')?['body/value']","actions":{"Créer_un_élément_2":{"runAfter":{},"metadata":{"operationMetadataId":"60a09653-1666-4da1-a2d5-0bf7279f9a0c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/COCOONApp","table":"81206cd6-9020-4435-9f65-b99e57e11ecf","item/Title":"20 °C","item/field_1":"@items('Apply2')?['Colonne1']","item/field_2":"@items('Apply2')?['Tliquide = 95 °C']","item/field_3":"@items('Apply2')?['Colonne2']","item/field_4":"@items('Apply2')?['Colonne3']","item/field_5":"@items('Apply2')?['Colonne4']","item/field_6":"@items('Apply2')?['Colonne5']","item/index":"@variables('index')","item/field_7":"@items('Apply2')?['Colonne6']","item/field_8":"@items('Apply2')?['Colonne7']","item/field_9":"@items('Apply2')?['Colonne8']","item/user":"@triggerOutputs()?['body/user']","item/file":"@triggerOutputs()?['body/Title']","item/Engagement":"Nominal","item/ConditonEchange":"Performance","item/created_at":"@formatDateTime(utcNow(), 'yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Incrémenter_une_variable_3":{"runAfter":{"Créer_un_élément_2":["Succeeded"]},"metadata":{"operationMetadataId":"02701297-87bf-45ce-ab39-efb8fa615163"},"type":"IncrementVariable","inputs":{"name":"index","value":1}}},"runAfter":{"Définir_une_variable":["Succeeded"]},"metadata":{"operationMetadataId":"2ca22329-e8ac-4fd2-a64c-cedd590cd07c"},"type":"Foreach"},"Lister_les_lignes_présentes_dans_un_tableau_3":{"runAfter":{"Apply2":["Succeeded"]},"metadata":{"operationMetadataId":"fe2e4f9b-ef35-4b83-9a69-c3d8f0086b01","tableId":"Tableau4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/94e79ab3-b0d5-4bf9-812a-c4589212d180","drive":"b!bPKzIe0HjEm7hlFI4Ihwr0XvNtDnklVHvPF0r5UoIVGTOxGyPmDYQbjTdWJwzANw","file":"@triggerOutputs()?['body/{Identifier}']","table":"Tableau4"},"authentication":"@parameters('$authentication')"}},"Définir_une_variable_2":{"runAfter":{"Lister_les_lignes_présentes_dans_un_tableau_3":["Succeeded"]},"metadata":{"operationMetadataId":"588a70d6-120d-4141-8b71-9d6b1ff4cb1f"},"type":"SetVariable","inputs":{"name":"index","value":1}},"Apply3":{"foreach":"@outputs('Lister_les_lignes_présentes_dans_un_tableau_3')?['body/value']","actions":{"Créer_un_élément_3":{"runAfter":{},"metadata":{"operationMetadataId":"60a09653-1666-4da1-a2d5-0bf7279f9a0c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/COCOONApp","table":"81206cd6-9020-4435-9f65-b99e57e11ecf","item/Title":"45 °C","item/field_1":"@items('Apply3')?['Colonne1']","item/field_2":"@items('Apply3')?['Tliquide = 70 °C']","item/field_3":"@items('Apply3')?['Colonne2']","item/field_4":"@items('Apply3')?['Colonne3']","item/field_5":"@items('Apply3')?['Colonne4']","item/field_6":"@items('Apply3')?['Colonne5']","item/index":"@variables('index')","item/field_7":"@items('Apply3')?['Colonne6']","item/field_8":"@items('Apply3')?['Colonne7']","item/field_9":"@items('Apply3')?['Colonne8']","item/user":"@triggerOutputs()?['body/user']","item/file":"@triggerOutputs()?['body/Title']","item/Engagement":"Minimal","item/ConditonEchange":"Performance","item/created_at":"@formatDateTime(utcNow(), 'yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Incrémenter_une_variable_4":{"runAfter":{"Créer_un_élément_3":["Succeeded"]},"metadata":{"operationMetadataId":"0538ca43-aed2-414e-be6a-e2c235eeec55"},"type":"IncrementVariable","inputs":{"name":"index","value":1}}},"runAfter":{"Définir_une_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"2ca22329-e8ac-4fd2-a64c-cedd590cd07c"},"type":"Foreach"},"Lister_les_lignes_présentes_dans_un_tableau_4":{"runAfter":{"Apply3":["Succeeded"]},"metadata":{"operationMetadataId":"fe2e4f9b-ef35-4b83-9a69-c3d8f0086b01","tableId":"Tableau5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/94e79ab3-b0d5-4bf9-812a-c4589212d180","drive":"b!bPKzIe0HjEm7hlFI4Ihwr0XvNtDnklVHvPF0r5UoIVGTOxGyPmDYQbjTdWJwzANw","file":"@triggerOutputs()?['body/{Identifier}']","table":"Tableau5"},"authentication":"@parameters('$authentication')"}},"Définir_une_variable_3":{"runAfter":{"Lister_les_lignes_présentes_dans_un_tableau_4":["Succeeded"]},"metadata":{"operationMetadataId":"92ab8470-13f2-44f0-a97d-e2ce37df45de"},"type":"SetVariable","inputs":{"name":"index","value":1}},"Apply4":{"foreach":"@outputs('Lister_les_lignes_présentes_dans_un_tableau_4')?['body/value']","actions":{"Créer_un_élément_4":{"runAfter":{},"metadata":{"operationMetadataId":"60a09653-1666-4da1-a2d5-0bf7279f9a0c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/COCOONApp","table":"81206cd6-9020-4435-9f65-b99e57e11ecf","item/Title":"20 °C","item/field_1":"@items('Apply4')?['Colonne1']","item/field_2":"@items('Apply4')?['Tliquide = 95 °C']","item/field_3":"@items('Apply4')?['Colonne2']","item/field_4":"@items('Apply4')?['Colonne3']","item/field_5":"@items('Apply4')?['Colonne4']","item/field_6":"@items('Apply4')?['Colonne5']","item/index":"@variables('index')","item/field_7":"@items('Apply4')?['Colonne6']","item/field_8":"@items('Apply4')?['Colonne7']","item/field_9":"@items('Apply4')?['Colonne8']","item/user":"@triggerOutputs()?['body/user']","item/file":"@triggerOutputs()?['body/Title']","item/Engagement":"Minimal","item/ConditonEchange":"Performance","item/created_at":"@formatDateTime(utcNow(), 'yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Incrémenter_une_variable_5":{"runAfter":{"Créer_un_élément_4":["Succeeded"]},"metadata":{"operationMetadataId":"4a72b93b-08a7-4293-9b73-d0804321acbe"},"type":"IncrementVariable","inputs":{"name":"index","value":1}}},"runAfter":{"Définir_une_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"2ca22329-e8ac-4fd2-a64c-cedd590cd07c"},"type":"Foreach"},"Initialiser_la_variable":{"runAfter":{},"metadata":{"operationMetadataId":"b55c94a5-8b52-4918-80ca-41209ccfaac4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"fileName","type":"string","value":"@triggerOutputs()?['body/Title']"}]}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"619f6d77fe464ba8a10faef223e789b7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"18975461652d4a9688a076465509ed5f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"shared-sharepointonl-a5ffa950-9e97-46af-9feb-8e09e8a2ba9d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}