ProgramRealM_DistributedWL_WhenCreate_V1_20241213162406/Microsoft.Flow/flows/c5cf85a3-3bc0-4e5f-a0bd-52bd6fa17325/definition.json
{"name":"19338fca-200f-4a0b-b228-82ee8e6d81b1","id":"/providers/Microsoft.Flow/flows/19338fca-200f-4a0b-b228-82ee8e6d81b1","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ProgramRealM_DistributedWL_WhenCreate_V1","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"feb6af4b-c822-45cb-a8d7-202bd69a9973","type":"User","tenantId":"d852d5cd-724c-4128-8812-ffa5db3f8507"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-12-04T11:09:45.1342848Z","connectionKeySavedTimeKey":"2024-12-04T11:09:45.1342848Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Lorsqu’un_élément_est_créé":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"6a8e9435-c2a9-441c-8ff1-3b1ea17cddf4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"f95cc166-ea80-4c8e-a738-02535456b755"},"authentication":"@parameters('$authentication')"}}},"actions":{"ObtenirEltAPMilestoneNG_":{"runAfter":{"Initialiser_la_variable":["Succeeded"]},"metadata":{"operationMetadataId":"d8d2e67b-19ba-4da6-829c-25bf9ca033d1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"61c1a023-85e9-4020-8ae1-a18ba4117b31","$filter":"Project_ID eq @{triggerOutputs()?['body/ID']}"},"authentication":"@parameters('$authentication')"}},"ObtenirEltsGenericSignatureCuves_":{"runAfter":{"ObtenirEltAPMilestoneNG_":["Succeeded"]},"metadata":{"operationMetadataId":"ad0e6cbf-bff8-4f7a-bb06-e3960243d7c1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"a58ff177-a7ef-4e7d-bf44-020eb6ba7b74","$filter":"CurveID eq @{variables('SignatureCurve')} and Title ne 'PSMO-PM' and Title ne 'CCR-PSMO' and Title ne 'IM-CCR'\n"},"authentication":"@parameters('$authentication')"}},"Appliquer_à_chacun_4":{"foreach":"@outputs('ObtenirEltsGenericSignatureCuves_')?['body/value']","actions":{"Appliquer_à_chacun":{"foreach":"@outputs('ObtenirEltAPMilestoneNG_')?['body/value']","actions":{"Créer_un_élément_2":{"runAfter":{},"metadata":{"operationMetadataId":"4efe6fd3-b673-4ecd-9cfa-1e2dfa350ef0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"9b3ef063-b474-40ff-9144-3ba53a8ddf7e","item/Program_Name":"@triggerOutputs()?['body/Title']","item/Program_ID":"@triggerOutputs()?['body/ID']","item/Curve_ID":"@items('Appliquer_à_chacun_4')?['CurveID']","item/Period_Name":"@items('Appliquer_à_chacun_4')?['Title']","item/Period_ID":"@items('Appliquer_à_chacun_4')?['PeriodID']","item/Distribution_WL":"@items('Appliquer_à_chacun_4')?['WLDistribution']","item/Start_date":"@if(equals(items('Appliquer_à_chacun_4')?['Title'],'PM-CM'),items('Appliquer_à_chacun')?['PM'] ,\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'CM-DM'),items('Appliquer_à_chacun')?['CM'] ,\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'DM-TK0'),items('Appliquer_à_chacun')?['DM'] ,\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'TK0-PX0_3DBOM'),items('Appliquer_à_chacun')?['TKO1review'],\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'PX0_3DBOM-SHRM'),items('Appliquer_à_chacun')?['PX03DBOM'],\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'SHRM-PX0R'),items('Appliquer_à_chacun')?['SHRM'],\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'PX0R-MPRM'),items('Appliquer_à_chacun')?['PX0review'],\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'MPRM-LRM'),items('Appliquer_à_chacun')?['MPRM'] ,items('Appliquer_à_chacun')?['LRM'])\r\n)))))))","item/End_date":"@if(equals(items('Appliquer_à_chacun_4')?['Title'],'PM-CM'),items('Appliquer_à_chacun')?['CM'] ,\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'CM-DM'),items('Appliquer_à_chacun')?['DM'] ,\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'DM-TK0'),items('Appliquer_à_chacun')?['TKO1review'] ,\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'TK0-PX0_3DBOM'),items('Appliquer_à_chacun')?['PX03DBOM'],\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'PX0_3DBOM-SHRM'),items('Appliquer_à_chacun')?['SHRM'],\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'SHRM-PX0R'),items('Appliquer_à_chacun')?['PX0review'],\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'PX0R-MPRM'),items('Appliquer_à_chacun')?['MPRM'],\r\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'MPRM-LRM'),items('Appliquer_à_chacun')?['LRM'] ,items('Appliquer_à_chacun')?['SOPM'])\r\n)))))))"},"authentication":"@parameters('$authentication')"}},"Créer_un_élément":{"runAfter":{"Créer_un_élément_2":["Succeeded"]},"metadata":{"operationMetadataId":"b0716f85-85dc-4613-bba1-4b76b7a34069"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"9d1ae0d4-8a01-4fe1-ae68-4f8af24fecca","item/Program_Name":"@triggerOutputs()?['body/Title']","item/Program_ID":"@triggerOutputs()?['body/ID']","item/Curve_ID":"@items('Appliquer_à_chacun_4')?['CurveID']","item/Period_Name":"@items('Appliquer_à_chacun_4')?['Title']","item/Period_ID":"@items('Appliquer_à_chacun_4')?['PeriodID']","item/Distribution_WL":"@items('Appliquer_à_chacun_4')?['WLDistribution']","item/Start_date":"@if(equals(items('Appliquer_à_chacun_4')?['Title'],'PM-CM'),items('Appliquer_à_chacun')?['PM'] ,\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'CM-DM'),items('Appliquer_à_chacun')?['CM'] ,\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'DM-TK0'),items('Appliquer_à_chacun')?['DM'] ,\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'TK0-PX0_3DBOM'),items('Appliquer_à_chacun')?['TKO1review'],\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'PX0_3DBOM-SHRM'),items('Appliquer_à_chacun')?['PX03DBOM'],\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'SHRM-PX0R'),items('Appliquer_à_chacun')?['SHRM'],\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'PX0R-MPRM'),items('Appliquer_à_chacun')?['PX0review'],\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'MPRM-LRM'),items('Appliquer_à_chacun')?['MPRM'] ,items('Appliquer_à_chacun')?['LRM'])\n)))))))","item/End_date":"@if(equals(items('Appliquer_à_chacun_4')?['Title'],'PM-CM'),items('Appliquer_à_chacun')?['CM'] ,\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'CM-DM'),items('Appliquer_à_chacun')?['DM'] ,\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'DM-TK0'),items('Appliquer_à_chacun')?['TKO1review'] ,\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'TK0-PX0_3DBOM'),items('Appliquer_à_chacun')?['PX03DBOM'],\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'PX0_3DBOM-SHRM'),items('Appliquer_à_chacun')?['SHRM'],\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'SHRM-PX0R'),items('Appliquer_à_chacun')?['PX0review'],\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'PX0R-MPRM'),items('Appliquer_à_chacun')?['MPRM'],\nif(equals(items('Appliquer_à_chacun_4')?['Title'],'MPRM-LRM'),items('Appliquer_à_chacun')?['LRM'] ,items('Appliquer_à_chacun')?['SOPM'])\n)))))))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"14952029-2ffd-4695-a12c-d644eaf94976"},"type":"Foreach"}},"runAfter":{"ObtenirEltsGenericSignatureCuves_":["Succeeded"]},"metadata":{"operationMetadataId":"797c4492-9e64-4ca5-a6c9-1fe4e516bd9a"},"type":"Foreach"},"Initialiser_la_variable":{"runAfter":{},"metadata":{"operationMetadataId":"9fca8f26-d585-42c3-913e-2d899cccafce"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SignatureCurve","type":"integer","value":"@int(triggerOutputs()?['body/SignatureCurve'])"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"0fed93a18c7b4c309206ebf8a671391b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"shared-sharepointonl-f030119c-1faf-4f57-9313-771562157404","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}