UploadRadiatorFile_20241213163423/Microsoft.Flow/flows/47f4259c-c0e8-4bed-b03d-75d87f1325f9/definition.json
{"name":"d332483e-f1de-4b8a-90e8-c70e5aeea8eb","id":"/providers/Microsoft.Flow/flows/d332483e-f1de-4b8a-90e8-c70e5aeea8eb","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"UploadRadiatorFile","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"25e10063-a2d9-4573-8125-22b6968fb213","type":"User","tenantId":"d852d5cd-724c-4128-8812-ffa5db3f8507"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-25T12:12:19.3233489Z","connectionKeySavedTimeKey":"2024-11-25T12:12:19.3233489Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f7e4b1e3-d62e-4912-b092-0c639816f256"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"file":{"description":"Please select file or image","title":"FileContent","type":"object","properties":{"name":{"type":"string"},"contentBytes":{"type":"string","format":"byte"}},"x-ms-content-hint":"FILE","x-ms-dynamically-added":true}},"required":["file"]}}}},"actions":{"Create_file":{"runAfter":{"FileNameWithoutExtension":["Succeeded"]},"metadata":{"operationMetadataId":"382010f2-ca79-493f-89b1-7a334a7bb037"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/COCOONApp","folderPath":"/RadiatorFiles","name":"@outputs('fileName')","body":"@triggerBody()?['file']?['contentBytes']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Mettre_à_jour_les_propriétés_du_fichier":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"21b7dd95-5a3b-40b9-a467-341c3c898a85"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchFileItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/COCOONApp","table":"b2113b93-603e-41d8-b8d3-756270cc0370","id":"@outputs('Create_file')?['body/ItemId']","item/Title":"   @{outputs('FileNameWithoutExtension')}","item/statut/Value":"in_progress","item/OData__ExtendedDescription":"Radiateur","item/user":"@split(outputs('FormatedFileName'), '_')[0]"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"fileName":{"runAfter":{},"metadata":{"operationMetadataId":"25cd75ed-91f3-4ab6-9474-a723332ec6d9"},"type":"Compose","inputs":"@triggerBody()?['file']?['name']"},"FormatedFileName":{"runAfter":{"fileName":["Succeeded"]},"metadata":{"operationMetadataId":"25cd75ed-91f3-4ab6-9474-a723332ec6d9"},"type":"Compose","inputs":"@substring(triggerBody()?['file']?['name'], add(indexOf(triggerBody()?['file']?['name'], '_'), 1), sub(length(triggerBody()?['file']?['name']), add(indexOf(triggerBody()?['file']?['name'], '_'), 1)))\r\n"},"FormatedLast":{"runAfter":{"FormatedFileName":["Succeeded"]},"metadata":{"operationMetadataId":"25cd75ed-91f3-4ab6-9474-a723332ec6d9"},"type":"Compose","inputs":"@substring(outputs('FormatedFileName'), add(indexOf(outputs('FormatedFileName'), '_'), 1), sub(length(outputs('FormatedFileName')), add(indexOf(outputs('FormatedFileName'), '_'), 1)))"},"FileNameWithoutExtension":{"runAfter":{"FormatedLast":["Succeeded"]},"metadata":{"operationMetadataId":"25cd75ed-91f3-4ab6-9474-a723332ec6d9"},"type":"Compose","inputs":"@substring(outputs('FormatedLast'), 0, sub(length(outputs('FormatedLast')), 5))"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"d87d8b1a07a0444fb2f84c5d3a1c91be","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"18975461652d4a9688a076465509ed5f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}