UpdateOPAEstimatedWorkloadN_20241216091323/Microsoft.Flow/flows/a8a22991-a8f1-4d53-b3f0-56dd555c6632/definition.json
{"name":"1aa318f1-b878-48b7-9fb6-ddaab87b0d48","id":"/providers/Microsoft.Flow/flows/1aa318f1-b878-48b7-9fb6-ddaab87b0d48","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"UpdateOPAEstimatedWorkloadN","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"feb6af4b-c822-45cb-a8d7-202bd69a9973","type":"User","tenantId":"d852d5cd-724c-4128-8812-ffa5db3f8507"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-04T11:08:49.3521927Z","connectionKeySavedTimeKey":"2024-10-04T11:08:49.3521927Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"20706539-3181-4c74-a952-d445e14585ff"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Obtenir_les_éléments":{"runAfter":{},"metadata":{"operationMetadataId":"c6032239-3b39-4f98-904d-0ba47da42bcc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"4a036160-0a57-447a-9cfc-cb12850aceb1"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":30000}}},"Appliquer_à_chacun":{"foreach":"@outputs('Obtenir_les_éléments')?['body/value']","actions":{"Supprimer_l'élément":{"runAfter":{},"metadata":{"operationMetadataId":"dbbc5930-1718-4d9d-bf73-2dc08d819083"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"4a036160-0a57-447a-9cfc-cb12850aceb1","id":"@items('Appliquer_à_chacun')?['ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Obtenir_les_éléments":["Succeeded"]},"metadata":{"operationMetadataId":"493c0296-fd1a-4cc0-8a64-728af7dcb3f2"},"type":"Foreach"},"Obtenir_les_éléments_2":{"runAfter":{"Appliquer_à_chacun":["Succeeded"]},"metadata":{"operationMetadataId":"626a70f0-1571-4704-9d56-fcd8d4d673b5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"fd0f2592-d5a4-47ec-b6a9-8c7651c28777"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":30000}}},"Appliquer_à_chacun_2":{"foreach":"@outputs('Obtenir_les_éléments_2')?['body/value']","actions":{"Créer_un_élément":{"runAfter":{},"metadata":{"operationMetadataId":"d3ff2877-fc67-4051-a867-29590347231e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/BDRINCC","table":"4a036160-0a57-447a-9cfc-cb12850aceb1","item/Title":"@items('Appliquer_à_chacun_2')?['Title']","item/OPASubAID":"@items('Appliquer_à_chacun_2')?['OPASubAID']","item/OPAID":"@items('Appliquer_à_chacun_2')?['OPAID']","item/Archivage":"@items('Appliquer_à_chacun_2')?['Archivage']","item/Task":"@items('Appliquer_à_chacun_2')?['Task']","item/Startdate":"@items('Appliquer_à_chacun_2')?['Startdate']","item/Enddate":"@items('Appliquer_à_chacun_2')?['Enddate']","item/EstimatedWL":"@items('Appliquer_à_chacun_2')?['EstimatedWL']","item/EstimatedWkLOpaSubAct":"@items('Appliquer_à_chacun_2')?['EstimatedWkLOpaSubAct']","item/ScalingFactor":"@items('Appliquer_à_chacun_2')?['ScalingFactor']","item/Years":"@items('Appliquer_à_chacun_2')?['Years']","item/Perfomer":"@items('Appliquer_à_chacun_2')?['Perfomer']","item/Leader":"@items('Appliquer_à_chacun_2')?['Leader']","item/AbscentDansOpeSubAct":"@items('Appliquer_à_chacun_2')?['AbscentDansOpeSubAct']","item/Ckecker":"@items('Appliquer_à_chacun_2')?['Ckecker']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Obtenir_les_éléments_2":["Succeeded"]},"metadata":{"operationMetadataId":"ea9ad263-2d64-4935-9a79-613c07af0509"},"type":"Foreach"},"Envoyer_un_e-mail_(V2)":{"runAfter":{"Appliquer_à_chacun_2":["Succeeded"]},"metadata":{"operationMetadataId":"0c7222c5-17f9-4dc5-bd0e-aa0686e65573"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"david.bolzinger@stellantis.com;martial.kouleyengouffo@external.stellantis.com","emailMessage/Subject":"FIN DE L'EXECUTION ","emailMessage/Body":"<p>Fin de l'execution du flux permettant la mise à jour de OPAEstimatedWorkloardN</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"description":""},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-f030119c-1faf-4f57-9313-771562157404","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"165eb612693947ed950f26a91ab1d053","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}