EnvoiformulaireetfichierjointDataanalysisdansSh_20241213162254/Microsoft.Flow/flows/b5bb5a62-da2c-4b68-b54c-a4e0f2f1deb2/definition.json
{"name":"6c9217a3-340c-4119-8f1e-4586b431b0f7","id":"/providers/Microsoft.Flow/flows/6c9217a3-340c-4119-8f1e-4586b431b0f7","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Envoi formulaire et fichier joint Data analysis dans SharePoint","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"aaa036ca-c6ba-44c3-8c2f-922be2d57ab3","type":"User","tenantId":"d852d5cd-724c-4128-8812-ffa5db3f8507"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-05-04T11:28:22.3515634Z","connectionKeySavedTimeKey":"2024-11-09T07:59:06.1856189Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"metadata":{"operationMetadataId":"74f821c7-b5c4-47ed-8096-493b9f46f71a"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"zdVS2ExyKEGIEv-l2z-FB8o2oKq6xsNEjC-SK-LVerNUMlhCOUlIOU9GWTM4WklVMVZWT00zRVY2Qi4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Appliquer_à_chacun":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Obtenir_les_détails_de_la_réponse":{"runAfter":{},"metadata":{"operationMetadataId":"b923b90f-37a4-4fa2-916f-7ed736dd204d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms_2","operationId":"GetFormResponseById"},"parameters":{"form_id":"zdVS2ExyKEGIEv-l2z-FB8o2oKq6xsNEjC-SK-LVerNUMlhCOUlIOU9GWTM4WklVMVZWT00zRVY2Qi4u","response_id":"@items('Appliquer_à_chacun')?['resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Créer_un_élément_2":{"runAfter":{"Obtenir_les_détails_de_la_réponse":["Succeeded"]},"metadata":{"operationMetadataId":"58e46f43-862c-40c1-a481-ff62c194c4b7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PostItem"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/RepresentativesData4PWTC","table":"dd8d4dea-71d5-42e0-950e-e5065460d9b4","item/Title":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/r813b987074e94cc39f790068c695f12f']","item/Requester/Claims":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/responder']","item/Progress/Value":"Initialized","item/Analysis_x0020_Type/Value":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/ree2c061e18b1494daf048398f16a4b5c']","item/EOTP_x0020_Code":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/r557ea915909c4dc298b4154769d21c71']","item/N_x00b0_ISS":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/r0ef31db6ca1743d5b1cf6736bff824f7']","item/Powertrain_x0020_Project":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/r2af98860e7e645b4874f1b06bb668b15']","item/Result_x0020_Folder":"https://shiftup.sharepoint.com/:f:/r/sites/RepresentativesData4PWTC/Documents%20partages/01_Data%20Request/@{concat('01_Data Request/DR_',string(triggerOutputs()?['body/ID']),'_',string(triggerOutputs()?['body/Requester/DisplayName']))}","item/PRS_x0020_Entity/Value":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/reecd0e7bb74c429c82436d0161104f4c']","item/Description":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/r4e1b0027c370467d824a54bb2f963d6b']","item/DueDate":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/rce3d3d5352ee471c8a963a4aa307e4a0']"},"authentication":"@parameters('$authentication')"}},"Message":{"runAfter":{"Créer_un_élément_2":["Succeeded"]},"metadata":{"operationMetadataId":"a1f6886b-9c55-404c-9326-7b2be52db171"},"type":"Compose","inputs":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/rf088601a85b14d3aac9883eca0e602c6']"},"Condition":{"actions":{},"runAfter":{"Message":["Succeeded"]},"else":{"actions":{"Analyser_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"f930cea4-fc5f-446d-9aea-e884449d7790"},"type":"ParseJson","inputs":{"content":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/rf088601a85b14d3aac9883eca0e602c6']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"},"type":{},"size":{"type":"integer"},"referenceId":{"type":"string"},"driveId":{"type":"string"},"status":{"type":"integer"},"uploadSessionUrl":{}},"required":["name","link","id","type","size","referenceId","driveId","status","uploadSessionUrl"]}}}},"Appliquer_à_chacun_2":{"foreach":"@body('Analyser_JSON')","actions":{"Obtenir_les_métadonnées_du_fichier":{"runAfter":{},"metadata":{"operationMetadataId":"e536cb7d-26a6-4dc7-9ea2-f29390231fdf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileMetadata"},"parameters":{"id":"@outputs('Obtenir_les_détails_de_la_réponse')?['body/rf088601a85b14d3aac9883eca0e602c6']"},"authentication":"@parameters('$authentication')"}},"Obtenir_le_contenu_du_fichier":{"runAfter":{"Obtenir_les_métadonnées_du_fichier":["Succeeded"]},"metadata":{"operationMetadataId":"ce790b17-ad12-4441-88df-cc7151a4d85e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness_2","operationId":"GetFileContent"},"parameters":{"id":"@outputs('Obtenir_les_métadonnées_du_fichier')?['body/Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Ajouter_une_pièce_jointe":{"runAfter":{"Obtenir_le_contenu_du_fichier":["Succeeded"]},"metadata":{"operationMetadataId":"469e2911-c2c2-46c8-b6cf-9825aa293b54"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"CreateAttachment"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/RepresentativesData4PWTC","table":"dd8d4dea-71d5-42e0-950e-e5065460d9b4","itemId":"@outputs('Créer_un_élément_2')?['body/ID']","displayName":"@outputs('Obtenir_les_métadonnées_du_fichier')?['body/Name']","body":"@body('Obtenir_le_contenu_du_fichier')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Appliquer_à_chacun_3":["Succeeded"]},"metadata":{"operationMetadataId":"405cdd50-3696-4175-81e3-696f033a2cc1"},"type":"Foreach"},"Appliquer_à_chacun_3":{"foreach":"@body('Analyser_JSON')","actions":{"Obtenir_les_métadonnées_du_fichier_à_l'aide_du_chemin_d'accès":{"runAfter":{},"metadata":{"operationMetadataId":"7df5e636-d343-4867-80d7-dcdff8fe8dfc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileMetadataByPath"},"parameters":{"path":"@items('Appliquer_à_chacun_3')['link']"},"authentication":"@parameters('$authentication')"}},"Obtenir_le_contenu_du_fichier_à_l'aide_du_chemin_d'accès":{"runAfter":{"Obtenir_les_métadonnées_du_fichier_à_l'aide_du_chemin_d'accès":["Succeeded"]},"metadata":{"operationMetadataId":"6a4f7c2b-f9a6-4a39-95b9-79e0c634e2cb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContentByPath"},"parameters":{"path":"@items('Appliquer_à_chacun_3')['link']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Ajouter_une_pièce_jointe_2":{"runAfter":{"Obtenir_le_contenu_du_fichier_à_l'aide_du_chemin_d'accès":["Succeeded"]},"metadata":{"operationMetadataId":"b9d6a750-8678-496a-af5a-c6b4e661b066"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"CreateAttachment"},"parameters":{"dataset":"https://shiftup.sharepoint.com/sites/RepresentativesData4PWTC","table":"dd8d4dea-71d5-42e0-950e-e5065460d9b4","itemId":"@outputs('Créer_un_élément_2')?['body/ID']","displayName":"@outputs('Obtenir_les_métadonnées_du_fichier_à_l''aide_du_chemin_d''accès')?['body/Name']","body":"@body('Obtenir_le_contenu_du_fichier_à_l''aide_du_chemin_d''accès')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Analyser_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"4e6712b5-4180-498b-997e-c752cbea4ca4"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Message')",""]},"metadata":{"operationMetadataId":"2d3b0280-c38c-44bc-9c17-f0f9e26c261f"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"26f9169b-61c0-41f0-b985-6fa663d212b8"},"type":"Foreach"}},"outputs":{},"description":"Pour chaque nouvelle réponse, envoyez une notification par e-mail et créez un élément dans SharePoint."},"connectionReferences":{"shared_microsoftforms_2":{"connectionName":"shared-microsoftform-a8c26738-4f6b-4647-bf7d-088be91f4763","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"0fed93a18c7b4c309206ebf8a671391b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-224405b7-0c98-4069-842b-0ddd2702689f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_onedriveforbusiness_2":{"connectionName":"shared-onedriveforbu-94b638e1-f05c-4cf6-bf86-c4d9431b5830","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_microsoftforms":{"connectionName":"shared-microsoftform-0cbe343b-843a-4836-b540-05070d559ca0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}